<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://projectbook.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>projectbook.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ProjectBook</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ProjectBook</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:projectdb83.database.windows.net,1433;Initial Catalog=dikili_db;User ID=dikili@projectdb83;Password=F213233d" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ProjectScreen.Models.UsersContext, ProjectScreen" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ProjectScreen.Models.ProjectsDb" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:projectdb83.database.windows.net,1433;Initial Catalog=dikili_db;User ID=dikili@projectdb83;Password=F213233d" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ProjectScreen.Models.ProjectsDb, ProjectScreen" MigrationConfiguration="ProjectScreen.Migrations.Configuration, ProjectScreen" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Projectdb" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=tcp:projectdb83.database.windows.net,1433;Database=Projectdb;User ID=dikili@projectdb83;Password=F213233d;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Projectdb_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:projectdb83.database.windows.net,1433;Database=Projectdb;User ID=dikili@projectdb83;Password=F213233d;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:projectdb83.database.windows.net,1433;Initial Catalog=dikili_db;User ID=dikili@projectdb83;Password=F213233d</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ProjectScreen.Models.ProjectsDb-Web.config Connection String">
      <ParameterValue>Data Source=tcp:projectdb83.database.windows.net,1433;Initial Catalog=dikili_db;User ID=dikili@projectdb83;Password=F213233d</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
    <_ConnectionStringsToInsert Include="ProjectScreen.Models.ProjectsDb" />
  </ItemGroup>
</Project>